.body{
    background-color: orange;
}
.sideNavbar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sideNavbar a{
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sideNavbar a:hover{
    color: #f1f1f1;
}
.sideNavbar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn{
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 15px;
    border: none;
}
.openbtn:hover{
    background-color: #444;
}
.div{
    width: 35px;
    height: 5px;
    background-color: gray;
    margin: 6px 0;
}

.a:link, .a:visited{
 background-color: yellow;
    color: black; 
    padding: 14px 25px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.a:hover, a:active{
    background-color:rgba(253, 253, 11, 0.562) ;
}

.button{
    padding-top: 470px;
   padding-left: 649px;
}

.header{
   text-align: center; 
}
.p{
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
}
.p2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.par{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.par1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
}
.foot{
    width: 1430px;
    height: 50px;
  background-color: white; 
  position: relative;
  top: 483px;
}
.foot2{
    background-color: white;
    width: 1427px;
    height: 50px;
    position: relative;
    top: 29px;
}
.foot3{
    background-color: white;
    width: 1430px;
    height: 50px;
    position: relative;
    top: 510px;
}
.foot4{
    background-color: white;
    width: 1430px;
    height: 50px;
    position: relative;
    top: 510px;
}
.foot5{
    background-color: white;
    height: 50px;
    position: relative; 
    top: 80px;
}
.img{
    width: 200px;
    align-items: center;
}
.drinks{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.dessert{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
   position: relative;
   left: 620px;
   font-family: Arial, Helvetica, sans-serif;
}
.sides{
    position: relative;
    left: 700px;
    font-family: Arial, Helvetica, sans-serif;
}
.list{
   position: relative;
   left: 610px;
   font-family: Arial, Helvetica, sans-serif;
}
.list1{
    position: relative;
    left: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.list2{
font-family: Arial, Helvetica, sans-serif;
position: relative;
left: 510px;
}
.list3{
    position: relative;
    left: 500px;
}

.social_media_link{
    text-decoration: none;

}

.fa-regular{
   font-size: 25px;
   position: relative;
   top: 10px;
}

.fa-tiktok{
    font-size: 25px;
   position: relative;
   left: 800px;
   top: 10px;
}

.fa-facebook{
    font-size: 25px;
    position: relative;
    left: 840px;
    top: 10px;
}

.fa-instagram{
    font-size: 25px;
    position: relative;
    left: 880px;
    top: 10px;
}

.fa-twitter{
    font-size: 25px;
    position: relative;
    left: 920px;
    top: 10px;
}

.fa-youtube{
    font-size: 25px;
    position: relative;
    top: 10px;
    left: 960px;
}

.fa-discord{
    font-size: 25px;
    position: relative;
    top: 10px;
    left: 1000px;
}
.link{
    padding-left: 650px;
}

@media screen and (max-width:1200px){
.foot{
    width: 470px;
    top: 370px;
}
.foot2{
width:480px ;
top: 50px;
}
.foot3{
    top: 380px;
    width: 480px;
}
.foot4{
    top: 385px;
    width: 480px;
}
.foot5{
    top: 100px;
}
.button{
padding-left: 190px;
padding-top: 340px;
}
.fa-tiktok{
    left: 50px;
}
.fa-facebook{
    left: 70px;
}
.fa-instagram{
left: 95px;
}
.fa-twitter{
    left: 120px;
}
.fa-youtube{
    left: 140px;
}
.fa-discord{
    left: 165px;
}
.main{
    left: 150px;
}
.sides{
left:280px;
}
.list{
    left: 140px;
}
.list2{
left: 100px;
}
.list1{
    left: 60px;
}
.list3{
   left: 100px;
}
.link{
    padding-left: 207px;
}
}
    
